@import "tailwindcss";

:root {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-50); 
}

@theme inline {
  --color-neutral-900: #0A0A0A;
  --color-neutral-700: #171719;
  --color-neutral-600: #202022;
  --color-neutral-500: #2E2E2E;
  --color-neutral-400: #3D3D3D;
  --color-neutral-300: #454547;
  --color-neutral-200: #9D9D9D;
  --color-neutral-100: #C6C6C6;
  --color-neutral-50: #FFFFFF;

  --color-lime-500: #CEF739;
  --color-lime-800: #283300;

  --color-green-500: #42EB05;
  --color-red-500: #FF4141;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-jetbrains-mono: var(--font-jetbrains-mono);

  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
}

@utility text-preset-1 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.5px;

  @media (width < 1280px) {
    font-size: 32px;
  }
}

@utility text-preset-2 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5px;
}

@utility text-preset-2-bold {
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: bold;
}

@utility text-preset-3 {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 1px;
}

@utility text-preset-3-bold {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 1px;
  font-weight: bold;
}

@utility text-preset-3-medium {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  font-weight: 500;
}

@utility text-preset-4 {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 1px;
}

@utility text-preset-5 {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

@utility text-preset-5-medium {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 500;
}

@utility text-preset-6 {
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-200) var(--color-neutral-600);  

  &::-webkit-scrollbar-thumb {
    background: var(--color-neutral-200);
    border-radius: var(--radius-6);
  }
  &::-webkit-scrollbar-track {
    background: var(--color-neutral-600);
  }
}

@keyframes ticker-sliding-animation {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }

.ticker-track {
  animation: 25s linear 0s infinite ticker-sliding-animation
}

.ticker-track:hover {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .ticker-track {
    animation: none;
  }

  .ticker-wrapper {
    overflow-x: auto;
  }

  .ticker-track-copy {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), Arial, Helvetica, sans-serif;
}
